# Cleaning Process
This notebook contain the necessary steps like getting the data info such as data size, number of feature, number of records, mean value, max value, etc. Clean the data which includes dropping some columns and rows, adding more information, joining the dataframes and more

In [1]:
import pandas as pd
import numpy as np
from CleaningPR import *

## Crime Dataset

In [10]:
crime_data = pd.read_csv('csv_files/Crimes_2001_to_Present.csv')

In [11]:
crime_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8000075 entries, 0 to 8000074
Data columns (total 22 columns):
 #   Column                Dtype
---  ------                -----
 0   ID                    int64
 1   Case Number           object
 2   Date                  object
 3   Block                 object
 4   IUCR                  object
 5   Primary Type          object
 6   Description           object
 7   Location Description  object
 8   Arrest                bool
 9   Domestic              bool
 10  Beat                  int64
 11  District              float64
 12  Ward                  float64
 13  Community Area        float64
 14  FBI Code              object
 15  X Coordinate          float64
 16  Y Coordinate          float64
 17  Year                  int64
 18  Updated On            object
 19  Latitude              float64
 20  Longitude             float64
 21  Location              object
dtypes: bool(2), float64(7), int64(3), object(10)
memory usage: 1.2+ GB

## Converting the Date
#### step 1) changing the data type to a much suitable format

In [12]:
crime_data = convertCrimeData(crime_data) # Convert the crime data to a much suitable format

/Users/rajpatel/Documents/UIC spring 2024/CS 418/group-project-kungfu-pandas/CleaningPR.py:95: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  crime_data['RegionName'] = crime_data['Community Area'].apply(get_community) # change coordinates to neighborhood name

In [13]:
crime_data.head()

,ID,Case Number,Date,Block,IUCR,Primary Type,Description,Location Description,Arrest,Domestic,...,FBI Code,X Coordinate,Y Coordinate,Year,Updated On,Latitude,Longitude,Location,New_Date,RegionName
11,12045583,JD226426,05/07/2020 10:24:00 AM,035XX S INDIANA AVE,0820,THEFT,$500 AND UNDER,APARTMENT,0,False,...,06,1178180.0,1881621.0,2020,05/14/2020 08:47:15 AM,41.830482,-87.621752,"(41.830481843, -87.621751752)",2020-05-07 10:24:00,Douglas
12,12031001,JD209965,04/16/2020 05:00:00 AM,005XX W 32ND ST,0460,BATTERY,SIMPLE,APARTMENT,1,False,...,08B,1173292.0,1883705.0,2020,04/23/2020 03:45:11 PM,41.836310,-87.639624,"(41.836310224, -87.639624112)",2020-04-16 05:00:00,Bridgeport
13,12093529,JD282112,07/01/2020 10:16:00 AM,081XX S COLES AVE,051A,ASSAULT,AGGRAVATED - HANDGUN,STREET,1,False,...,04A,1198234.0,1851595.0,2020,07/08/2020 03:41:45 PM,41.747610,-87.549179,"(41.747609555, -87.549179329)",2020-07-01 10:16:00,South Chicago
14,12178140,JD381597,09/27/2020 11:29:00 PM,065XX S WOLCOTT AVE,0460,BATTERY,SIMPLE,RESIDENCE - PORCH / HALLWAY,0,False,...,08B,1164812.0,1861251.0,2020,10/04/2020 03:43:55 PM,41.774878,-87.671375,"(41.77487752, -87.671374872)",2020-09-27 23:29:00,West Englewood
15,4144897,HL474854,07/10/2005 03:00:00 PM,062XX S ABERDEEN ST,0430,BATTERY,AGGRAVATED: OTHER DANG WEAPON,STREET,0,False,...,04B,1170050.0,1863524.0,2005,02/28/2018 03:56:25 PM,41.781003,-87.652107,"(41.781002663, -87.652107119)",2005-07-10 15:00:00,Englewood

In [14]:
# crime_data['Arrest'] = crime_data['Arrest'].replace({
#     True:1,
#     False:0
# })

crime_data['Arrest'].unique()

array([0, 1])

In [7]:

# crime_data['New_Date'] = pd.to_datetime(crime_data['Date'])
# crime_data['New_Date'] = crime_data['New_Date'].dt.strftime('%m-%d-%Y %H:%M:%S')

In [8]:
# comparing the old date value format to the datetime value format
# crime_data[['Date', 'New_Date']]

                           Date            New_Date
0        03/18/2015 12:00:00 PM 2015-03-18 12:00:00
1        12/20/2018 03:00:00 PM 2018-12-20 15:00:00
2        05/01/2016 12:25:00 AM 2016-05-01 00:25:00
3        12/20/2018 04:00:00 PM 2018-12-20 16:00:00
4        06/01/2014 12:01:00 AM 2014-06-01 00:01:00
...                         ...                 ...
8000070  08/10/2020 08:30:00 PM 2020-08-10 20:30:00
8000071  06/18/2020 09:00:00 PM 2020-06-18 21:00:00
8000072  07/27/2020 03:02:00 PM 2020-07-27 15:02:00
8000073  08/14/2020 03:00:00 PM 2020-08-14 15:00:00
8000074  03/06/2020 02:00:00 PM 2020-03-06 14:00:00

[8000075 rows x 2 columns]

In [15]:
# Print the Latest and Earliest record to veryfiy the range
print("Max new_date value: ", crime_data['New_Date'].max()) # Latest record of 2024
print("Min new_date value: ", crime_data['New_Date'].min()) # Earliest record of 2021

Max new_date value:  2024-02-10 00:00:00
Min new_date value:  2001-01-01 00:00:00

#### Step 2) Dropping the unecessary columns such as X & Y Coordinate, Date, Block, IUCR, Description, Domestic, Beat, District, FBI code, Ward, Updated on, Latitude, Longitude

In [16]:
col = ['ID', 'New_Date', 'Primary Type', 'Location Description', 'Arrest', 'Community Area', 'RegionName']
crime_data =  dropCrimeDataColumns(col, crime_data)
crime_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 7297146 entries, 11 to 8000074
Data columns (total 7 columns):
 #   Column                Dtype
---  ------                -----
 0   ID                    int64
 1   New_Date              datetime64[ns]
 2   Primary Type          object
 3   Location Description  object
 4   Arrest                int64
 5   Community Area        float64
 6   RegionName            object
dtypes: datetime64[ns](1), float64(1), int64(2), object(3)
memory usage: 445.4+ MB

### Step 3) Filtering

In [17]:
(crime_data_2017_2019, crime_data_2021_present) = pre_covid_post_covid(crime_data)

#### (Pre Covid)
Extracting the data for crime report from 2017-2019

In [12]:
# crime_data_2017_2019 = crime_data[(crime_data['New_Date'].dt.year >= 2017) & (crime_data['New_Date'].dt.year <= 2019)]

In [18]:
# Print the Latest and Earliest record to veryfiy the range
print("Min new_date value: ", crime_data_2017_2019['New_Date'].min()) # Earliest record of 2017
print("Min new_date value: ", crime_data_2017_2019['New_Date'].max()) # Earliest record of 2019
print(crime_data_2017_2019['New_Date'].dt.year.unique())

Min new_date value:  2017-01-01 00:00:00
Min new_date value:  2019-12-31 23:55:00
[2019 2018 2017]

In [19]:
print(crime_data_2017_2019['RegionName'].isna().sum())
print(crime_data_2017_2019['Location Description'].isna().sum())
print(crime_data_2017_2019['Community Area'].isna().sum())
print(crime_data_2017_2019['Primary Type'].isna().sum())

0
0
0
0

In [15]:
# crime_data_2017_2019.dropna(inplace=True)

/var/folders/90/njc7c9s547x7442xf5vpbk6m0000gn/T/ipykernel_12731/2677601169.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  crime_data_2017_2019.dropna(inplace=True)

In [20]:
len(crime_data_2017_2019['Community Area'].unique())

77

#### (Post Covid)
Extracting the data for crime report from 2021 - present

In [17]:
# crime_data_2021_present = crime_data[crime_data['New_Date'].dt.year >= 2021]

In [21]:
print("Min new_date value: ", crime_data_2021_present['New_Date'].min()) # Earliest record of 2021
print(crime_data_2021_present['New_Date'].dt.year.unique()) # Making sure that the range (2021-2024)

Min new_date value:  2021-01-01 00:00:00
[2023 2021 2022 2024]

In [22]:
print(crime_data_2021_present['RegionName'].isna().sum())
print(crime_data_2021_present['Location Description'].isna().sum())
print(crime_data_2021_present['Community Area'].isna().sum())
print(crime_data_2021_present['Primary Type'].isna().sum())

0
0
0
0

In [20]:
# crime_data_2021_present.dropna(inplace=True)

/var/folders/90/njc7c9s547x7442xf5vpbk6m0000gn/T/ipykernel_12731/3565010998.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  crime_data_2021_present.dropna(inplace=True)

In [23]:

len(crime_data_2021_present['Community Area'].unique())

77

In [22]:
# community_areas = {
#     1: "Rogers Park",
#     2: "West Ridge",
#     3: "Uptown",
#     4: "Lincoln Square",
#     5: "North Center",
#     6: "Lake View",
#     7: "Lincoln Park",
#     8: "Near North Side",
#     9: "Edison Park",
#     10: "Norwood Park",
#     11: "Jefferson Park",
#     12: "Forest Glen",
#     13: "North Park",
#     14: "Albany Park",
#     15: "Portage Park",
#     16: "Irving Park",
#     17: "Dunning",
#     18: "Montclare",
#     19: "Belmont Cragin",
#     20: "Hermosa",
#     21: "Avondale",
#     22: "Logan Square",
#     23: "Humboldt Park",
#     24: "West Town",
#     25: "Austin",
#     26: "West Garfield Park",
#     27: "East Garfield Park",
#     28: "Near West Side",
#     29: "North Lawndale",
#     30: "South Lawndale",
#     31: "Lower West Side",
#     32: "Loop",
#     33: "Near South Side",
#     34: "Armour Square",
#     35: "Douglas",
#     36: "Oakland",
#     37: "Fuller Park",
#     38: "Grand Boulevard",
#     39: "Kenwood",
#     40: "Washington Park",
#     41: "Hyde Park",
#     42: "Woodlawn",
#     43: "South Shore",
#     44: "Chatham",
#     45: "Avalon Park",
#     46: "South Chicago",
#     47: "Burnside",
#     48: "Calumet Heights",
#     49: "Roseland",
#     50: "Pullman",
#     51: "South Deering",
#     52: "East Side",
#     53: "West Pullman",
#     54: "Riverdale",
#     55: "Hegewisch",
#     56: "Garfield Ridge",
#     57: "Archer Heights",
#     58: "Brighton Park",
#     59: "McKinley Park",
#     60: "Bridgeport",
#     61: "New City",
#     62: "West Elsdon",
#     63: "Gage Park",
#     64: "Clearing",
#     65: "West Lawn",
#     66: "Chicago Lawn",
#     67: "West Englewood",
#     68: "Englewood",
#     69: "Greater Grand Crossing",
#     70: "Ashburn",
#     71: "Auburn Gresham",
#     72: "Beverly",
#     73: "Washington Heights",
#     74: "Mount Greenwood",
#     75: "Morgan Park",
#     76: "O'Hare",
#     77: "Edgewater"
# }

In [23]:
# def get_community(code):
#     return community_areas[code]

In [24]:
# crime_data_2017_2019.loc[:, 'Location'] = crime_data_2017_2019['Community Area'].apply(get_community)
# crime_data_2021_present.loc[:, 'Location'] = crime_data_2021_present['Community Area'].apply(get_community)

In [25]:
# crime_data_2017_2019.rename(columns={'Location':'RegionName'}, inplace = True)
# crime_data_2021_present.rename(columns={'Location':'RegionName'}, inplace = True)

/var/folders/90/njc7c9s547x7442xf5vpbk6m0000gn/T/ipykernel_12731/1794392669.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  crime_data_2017_2019.rename(columns={'Location':'RegionName'}, inplace = True)
/var/folders/90/njc7c9s547x7442xf5vpbk6m0000gn/T/ipykernel_12731/1794392669.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  crime_data_2021_present.rename(columns={'Location':'RegionName'}, inplace = True)

In [24]:
display(crime_data_2021_present)
display(crime_data_2017_2019)

,ID,New_Date,Primary Type,Location Description,Arrest,Community Area,RegionName
371,13204489,2023-09-06 11:00:00,THEFT,PARKING LOT / GARAGE (NON RESIDENTIAL),0,32.0,Loop
643,12342615,2021-04-17 15:20:00,ROBBERY,RESIDENCE,1,44.0,Chatham
646,12589893,2022-01-11 15:00:00,SEX OFFENSE,RESIDENCE,0,46.0,South Chicago
647,12592454,2022-01-14 15:55:00,OTHER OFFENSE,RESIDENCE,0,68.0,Englewood
648,12785595,2022-08-05 21:00:00,SEX OFFENSE,APARTMENT,1,69.0,Greater Grand Crossing
...,...,...,...,...,...,...,...
2336176,26479,2021-12-03 20:37:00,HOMICIDE,PORCH,1,69.0,Greater Grand Crossing
2336315,27289,2023-01-06 21:25:00,HOMICIDE,HOUSE,1,67.0,West Englewood
2336416,27015,2022-08-31 09:30:00,HOMICIDE,GAS STATION,0,53.0,West Pullman
2336534,27577,2023-06-20 12:42:00,HOMICIDE,STREET,0,26.0,West Garfield Park
7264756,11138622,2021-05-21 00:01:00,OFFENSE INVOLVING CHILDREN,RESIDENCE,0,20.0,Hermosa

,ID,New_Date,Primary Type,Location Description,Arrest,Community Area,RegionName
96,12098557,2019-02-01 00:01:00,BATTERY,RESIDENCE,0,63.0,Gage Park
283,12082526,2019-09-24 12:00:00,DECEPTIVE PRACTICE,RESIDENCE,0,3.0,Uptown
527,11859264,2019-10-13 06:40:00,CRIMINAL DAMAGE,APARTMENT,0,29.0,North Lawndale
641,11662417,2019-04-21 12:30:00,ROBBERY,RESIDENCE,0,44.0,Chatham
663,12990873,2019-08-17 13:14:00,OFFENSE INVOLVING CHILDREN,RESIDENCE,1,23.0,Humboldt Park
...,...,...,...,...,...,...,...
7999292,12022897,2019-12-05 00:00:00,DECEPTIVE PRACTICE,RESIDENCE,0,34.0,Armour Square
7999338,12056523,2019-12-20 09:00:00,DECEPTIVE PRACTICE,RESIDENCE,1,8.0,Near North Side
7999342,12056116,2019-04-09 00:00:00,OFFENSE INVOLVING CHILDREN,RESIDENCE,0,48.0,Calumet Heights
7999778,12166069,2019-02-01 09:00:00,DECEPTIVE PRACTICE,RESIDENCE,0,16.0,Irving Park
7999779,12002967,2018-05-06 16:58:00,OFFENSE INVOLVING CHILDREN,RESIDENCE,0,30.0,South Lawndale

### Step 4) Saving the Dataframe to a CSV file

In [25]:
crime_data_2021_present.to_csv('csv_files/Crimes_2021_to_Present.csv', index=False)
crime_data_2017_2019.to_csv('csv_files/Crimes_2017_to_2019.csv', index=False)

## Neighborhood Dataset
https://www.zillow.com/research/data/

Contains information like Region Name, State, City, County Name, Average price of a house for every month since 2000

In [85]:
neighborhood_data = pd.read_csv('csv_files/Neighborhood_House_Price.csv')

In [53]:
neighborhood_data

Index([   42,    88,    97,    99,   123,   151,   163,   169,   189,   194,
       ...
       14585, 14609, 14715, 14824, 14954, 15823, 16031, 16216, 18723, 20343],
      dtype='int64', length=168)

### Filtering
Only want to focus on Chicago, IL housing prices.

In [87]:
neighborhood_data = filterNeighborhood(neighborhood_data)

In [12]:
# neighborhood_data = neighborhood_data[(neighborhood_data['State'] == 'IL') & (neighborhood_data['City'] == 'Chicago')]

In [88]:
(neighborhood_data_2017_2019, neighborhood_data_2021_present) = pre_covid_hd_post_covid_hd(neighborhood_data)

In [13]:
# Pre Covid
# first_half_column = neighborhood_data.loc[0:, ['RegionName']]
# second_half_column =  neighborhood_data.loc[0:, '2017-01-31':'2019-12-31']

# # Post Covid
# first_half_column_2 = neighborhood_data.loc[0:, ['RegionName']]
# second_half_column_2 =  neighborhood_data.loc[0:, '2021-01-31':]

In [14]:
# neighborhood_data_2017_2019 = pd.concat([first_half_column, second_half_column], axis=1)
# neighborhood_data_2021_present = pd.concat([first_half_column_2, second_half_column_2], axis=1)

## Transposing the Data
Reseting the Index, Rotating the Dataframe and Renaming the colums to neighborhood to make it easier to do EDA

In [52]:
neighborhood_data_2017_2019 = transpose_data(data=neighborhood_data_2017_2019)
neighborhood_data_2017_2019

IndexError: list index out of range

In [8]:
neighborhood_data_2021_present = transpose_data(data=neighborhood_data_2021_present)
neighborhood_data_2021_present

          date      Lake View     West Ridge Little Village   Logan Square  \
0   2021-01-31  335152.964276   213600.22992  150609.690221  438745.604328
1   2021-02-28  337100.070376  215838.540172  154491.459007  442793.484892
2   2021-03-31  338529.196964   217654.90533  159032.561218  446040.066569
3   2021-04-30  339798.571621  219105.803791  163509.685324  448541.706261
4   2021-05-31  340754.044648  219738.822606  166556.653383  449749.184842
5   2021-06-30  341788.369111   220295.24561  168400.346553  449763.281273
6   2021-07-31  343067.924135   221026.99873  169456.453588  450720.802504
7   2021-08-31  344281.139606  221449.948867  169831.819215  452165.579963
8   2021-09-30  344721.731199  220854.555142  169697.529621  453102.624344
9   2021-10-31  345330.255051  220143.283224  169068.578367  454160.750975
10  2021-11-30   346229.69482  219765.574105  168425.692316  455393.918885
11  2021-12-31  347988.770133  220259.733175  168078.624387  458006.384634
12  2022-01-31  349287.137025  220915.765328  169403.504825  457955.854456
13  2022-02-28   350710.52525  222263.168019  172517.673788  457233.019564
14  2022-03-31  352712.491238  224436.352597  176952.060838  456647.373238
15  2022-04-30  355410.216038  227196.752656  180259.941307    458333.4123
16  2022-05-31   356874.97759  228566.518917  181410.158237  459587.148614
17  2022-06-30  358031.702512  228372.366083  181416.505136  460253.998778
18  2022-07-31   357870.03078  226765.485594  179543.969446  459129.771529
19  2022-08-31   357158.88699   225060.04979  176697.991527  456181.403057
20  2022-09-30  354939.017591  223618.476785  173122.408966  451504.531341
21  2022-10-31  353137.129402   222828.43601  170684.715502  447496.141067
22  2022-11-30  352371.088605  222701.215767  169480.802613  445021.206433
23  2022-12-31  351981.988583   222145.87034  168545.220298  443207.667475
24  2023-01-31   350177.24185  220987.915949   167334.69682  440358.494073
25  2023-02-28  347147.564086   219554.00734    166543.4132  437330.296539
26  2023-03-31  345203.468555  218970.734512  166856.366134  436360.210756
27  2023-04-30  345791.989131  219505.468935  168529.731016  438170.581717
28  2023-05-31  348243.716515  220873.395671  170215.552104  441159.953902
29  2023-06-30  351331.955928   222693.53315  171405.516615  444235.237026
30  2023-07-31  354372.109448  224815.395489  172511.518632  446830.281993
31  2023-08-31  358274.505322  227233.660863  174512.511548  449198.964839
32  2023-09-30  361767.239038  228789.686683   176942.10929   449859.66757
33  2023-10-31  364245.140803  229263.487182  178664.607033  449269.546622
34  2023-11-30  365404.235809  229190.543498  179329.071751  448226.586436
35  2023-12-31  365273.873903  229300.289538  179274.978734  447136.438126
36  2024-01-31  364719.918837  229288.170544  179381.863942  446721.925355

     Lincoln Park   South Austin    Irving Park    Rogers Park         Uptown  \
0   521486.137219  180917.374761  338774.427175  179522.204697  238384.286918
1   522856.818945  185608.390589  342486.690267  181330.847136  239973.929497
2    523647.18224  191007.910295  346194.549901   182732.26069   241113.29843
3   523534.460888  196147.321168  349930.120903  183811.499572  241846.051785
4   522886.530447  199573.256492  352042.448059  184104.008816  242134.791372
5   522981.141822  201319.718631  353057.317078  184583.478912  242853.837097
6    524273.72531  201058.546668  354129.818064  185376.328301  243888.707626
7   525620.489472  199220.354709  355132.722044  186228.671777  244498.739349
8   525261.092467  196644.018957  355049.794556  186063.959168   244482.26829
9   525413.688706  194897.096179  354782.148619  185500.210265  244576.851746
10  527436.201386   194339.76928  355036.846243  184897.948274  245400.600571
11  531400.333134  194390.665871  356591.053312  185376.924144  246960.132049
12  534880.083422  196033.111556  357225.985683  186330.534434  248355.689482
13  538574.550633  199637.407243  358282.562536  187941.999752  249952.305314
14   543973.56485  204924.381426  360754.199283  189910.212369  252167.534492
15  550854.101224  208314.382386  364886.140086   192246.11708     254697.622
16  555104.086391  208401.758095  367835.490483  193260.758853  255820.743232
17  558090.217917  206771.518444  369518.546111  193003.667411  255567.701997
18  557616.936161  203990.720774  368716.840455  191635.985564  254452.730925
19  555540.341574  200665.902375  366558.712443  190538.427941  253209.682946
20  550923.503563  196927.164742  362995.694452  189763.654627  252059.703907
21  547545.998506  194551.779952  360459.155967   189415.69785  251076.778839
22  546011.756114  193515.538052  359225.651753   189353.57637  250492.377751
23  545617.925577   192236.89838  358523.589602  189411.795963  249526.202649
24  544450.378711  189945.012012  356783.567982   189155.72076  247956.132508
25   541232.65862  188172.611136  355333.508991  189152.349294  246415.722867
26  538479.248662   188023.08989  355479.128764  189805.035883  245788.514492
27  537512.792193  189108.422044    358222.0486  191179.180318  246581.799808
28  539139.274169  189711.939457  361269.646995  192618.338225  248266.811382
29  541588.440708  189203.006086  364612.132649   193903.59422  250400.948519
30  543950.923591  188467.815686  367761.280729  195224.570169  252601.722212
31  546390.818324  187581.113609  371154.804365  197540.053376  255978.458514
32  548270.857647  186463.561138  373269.574747   199982.44912  259731.428415
33   549318.70565  185643.664184  374300.385436  202238.379305  262676.197152
34  549895.692694  184930.202367  374722.638226  203437.915809  264078.739641
35  549323.122838  184507.539225  374176.994267  204149.615699  264046.604024
36  548638.640501  184515.936457  373477.021363  204126.837008  263371.438625

    ...  Beverly Woods  Sleepy Hollow Lithuanian Plaza    Forest Glen  \
0   ...  240022.623576     205658.709    190487.831338  395487.224536
1   ...  244533.099594  210608.339795    194609.021205  399358.903549
2   ...  248901.593636  216042.021595    198440.913582  403079.567198
3   ...   253083.58446  220828.192199    201429.100659  407398.148654
4   ...  256385.197651  224200.835112     202531.69313  410880.334613
5   ...  259212.099508  226557.332518    202418.711739  413127.154296
6   ...  260569.128844  227806.187755    200293.876885  414040.675832
7   ...   260052.47751  227743.383053    196555.883711  414459.790053
8   ...  257600.169596   225882.82093     191266.11736  414358.076889
9   ...  255546.853234  223523.950199    187047.486234  415099.055127
10  ...  254608.533567  222322.719096     185198.38021   416454.29554
11  ...  255125.871652  222871.555055    185778.404983  417917.640882
12  ...  257273.572665  225699.186911    188378.229869  419810.997591
13  ...  261608.827422  230323.988164    192774.216684  422957.980996
14  ...  267261.207628   236529.50442    198383.385001  429412.438528
15  ...  272199.556597  242295.830514    203667.936135  436798.840558
16  ...  274659.295524  245823.519923    206534.069955  442683.825946
17  ...  275693.165771  246669.298871    206908.583708  446017.868193
18  ...  275344.002711  244989.758137    203862.939725  444932.227417
19  ...  273971.508392  242214.112861    199948.972181  441027.487968
20  ...  270801.381273  238486.628115    195648.234542  434812.440598
21  ...  267887.516158  235163.429609    192847.384619   430472.44349
22  ...  266131.492696  232765.695792     190498.22295  428189.016014
23  ...  265774.423606  231513.407923    188280.502297   427179.86991
24  ...  264669.661627  230861.903698    186298.248974    425966.4332
25  ...  263741.146085  231525.611415    185138.919704  426097.485511
26  ...  262522.281765   233337.55259    185302.980147  426711.427636
27  ...  261982.856328  235372.201308    185283.892717  428402.034097
28  ...  261374.318214  236103.422082    184920.207047  429767.959897
29  ...  261696.019447  236527.879441    183812.280972  432952.688669
30  ...  263419.386822  237722.623181    183485.193078  436836.265709
31  ...  265378.730835  240612.201045    183745.727154  440417.662354
32  ...  266263.308302  243670.776509     184363.61539   442668.58409
33  ...  266047.845385  245922.547676    185488.114922  444410.991986
34  ...   265434.43403  246968.844128    186211.461605  445701.269285
35  ...  265225.505751  247468.611541    187271.249378  446746.052524
36  ...  265754.797956   248063.84117    188107.749509  447353.065307

     Beverly View Heart of Italy   Golden Gate      Marycrest  \
0   151295.222629  230912.584221  55617.851577  275760.178768
1   155797.669721  233706.648789  57571.195221  280995.201316
2   161320.133838  235914.918863  60538.071205  286359.511962
3   166625.774651     236975.399  63795.056935  290788.403519
4   171526.912511   237436.86208  66521.929432  294977.065756
5   175019.389521  238114.885444  68435.029445  299432.029132
6   177032.417315  241895.703793  69220.692911  303617.607781
7   177094.056203   246815.76596   69192.86553  305550.921217
8   175381.033719  252009.638464  68358.361754  305999.254374
9   173394.541841  255475.828109  68157.495206  306452.390545
10  172198.612723  258055.687987  68563.305631  308317.608522
11  172744.032707  260673.296281  69277.062568   311130.54043
12  176111.793778  262373.652368  70298.412142  314868.635294
13  181868.422345  264093.325853  71624.754666  319972.349526
14  189051.298273   265594.66132  73961.961834  325935.025539
15  194467.018429  268659.919751  76051.942395   330643.40934
16  196285.116098   270804.13899  77108.737324  332707.588932
17  196361.479182  272665.903286  77403.355765  332660.456465
18  194378.151175  272161.755126  77017.256458   330911.09336
19  192107.815555  271040.187252  76186.436325  328353.221429
20   189181.33781  269268.651876  75408.532337  325026.412239
21  187076.554826   267833.85899  75222.865239  322492.956736
22  185427.320175  267179.855463  75333.790265  320419.534258
23  183828.792733  266581.149091  74903.568584  318821.034455
24   182247.86222  266483.440933  73594.847389  317289.123597
25   182056.10561  266609.221414  72320.445163  317081.407388
26   182655.71867  268878.453032  71088.471083  317434.233777
27  183979.705581  272724.187575  70320.634522  317947.364806
28  184575.506736  277481.545154  69738.047004     318242.748
29  185247.774635  281176.120792  68916.978047  319146.595262
30   186418.23992  284109.937646  67902.767071  320886.278715
31  187879.054274   287336.59062  66675.576774   322325.70342
32  188627.390101  289204.659588  65910.205072  322872.760639
33  188145.254235   289954.45862  65409.901479  322881.472206
34  186652.713915  289743.066667   65276.61692  322911.150672
35  185334.927286  290485.432481  64771.155875  323036.432989
36   185017.98629  291655.160235  64550.671104   323600.64573

   Mount Greenwood Heights Schorsch Forest View
0            280946.442648        307632.094045
1            285493.773982        311662.776952
2            289930.026637        316208.501575
3            293810.501845        320674.893231
4            297387.517453        323826.163279
5            301473.582012        325993.122187
6            304741.517336        326625.966628
7            305578.714294        325521.195942
8            304024.160134        322763.975147
9            302053.097269        320649.744185
10           301321.477485        319959.214949
11           302123.858911         320359.63009
12           304876.813733        321650.390272
13           308978.493607        324188.744545
14           313915.128182        328748.110414
15           318457.662851        334245.375583
16           321019.098164        338016.278948
17           322330.413299        340263.391565
18           321427.467595        339645.587222
19           319314.892486        337930.153697
20            315288.54458        334949.775993
21           312543.863947        332820.962489
22           311054.049941        331724.764684
23           311097.386446        331232.416524
24           309848.288453        330186.399562
25           309282.419302        329869.860105
26           308964.744137         330412.59693
27            310257.67215        332068.430625
28           311483.749658        333953.617594
29           313023.103028        337033.145114
30           314335.600736        341258.354083
31           315228.320421        345718.141282
32           315700.383051        349568.777665
33           316257.417595        352424.332892
34           316753.787873        354896.000629
35           317284.417069        356164.834436
36           317851.664055        356733.602104

[37 rows x 182 columns]

,date,Lake View,West Ridge,Little Village,Logan Square,Lincoln Park,South Austin,Irving Park,Rogers Park,Uptown,...,Beverly Woods,Sleepy Hollow,Lithuanian Plaza,Forest Glen,Beverly View,Heart of Italy,Golden Gate,Marycrest,Mount Greenwood Heights,Schorsch Forest View
0,2021-01-31,335152.964276,213600.22992,150609.690221,438745.604328,521486.137219,180917.374761,338774.427175,179522.204697,238384.286918,...,240022.623576,205658.709,190487.831338,395487.224536,151295.222629,230912.584221,55617.851577,275760.178768,280946.442648,307632.094045
1,2021-02-28,337100.070376,215838.540172,154491.459007,442793.484892,522856.818945,185608.390589,342486.690267,181330.847136,239973.929497,...,244533.099594,210608.339795,194609.021205,399358.903549,155797.669721,233706.648789,57571.195221,280995.201316,285493.773982,311662.776952
2,2021-03-31,338529.196964,217654.90533,159032.561218,446040.066569,523647.18224,191007.910295,346194.549901,182732.26069,241113.29843,...,248901.593636,216042.021595,198440.913582,403079.567198,161320.133838,235914.918863,60538.071205,286359.511962,289930.026637,316208.501575
3,2021-04-30,339798.571621,219105.803791,163509.685324,448541.706261,523534.460888,196147.321168,349930.120903,183811.499572,241846.051785,...,253083.58446,220828.192199,201429.100659,407398.148654,166625.774651,236975.399,63795.056935,290788.403519,293810.501845,320674.893231
4,2021-05-31,340754.044648,219738.822606,166556.653383,449749.184842,522886.530447,199573.256492,352042.448059,184104.008816,242134.791372,...,256385.197651,224200.835112,202531.69313,410880.334613,171526.912511,237436.86208,66521.929432,294977.065756,297387.517453,323826.163279
5,2021-06-30,341788.369111,220295.24561,168400.346553,449763.281273,522981.141822,201319.718631,353057.317078,184583.478912,242853.837097,...,259212.099508,226557.332518,202418.711739,413127.154296,175019.389521,238114.885444,68435.029445,299432.029132,301473.582012,325993.122187
6,2021-07-31,343067.924135,221026.99873,169456.453588,450720.802504,524273.72531,201058.546668,354129.818064,185376.328301,243888.707626,...,260569.128844,227806.187755,200293.876885,414040.675832,177032.417315,241895.703793,69220.692911,303617.607781,304741.517336,326625.966628
7,2021-08-31,344281.139606,221449.948867,169831.819215,452165.579963,525620.489472,199220.354709,355132.722044,186228.671777,244498.739349,...,260052.47751,227743.383053,196555.883711,414459.790053,177094.056203,246815.76596,69192.86553,305550.921217,305578.714294,325521.195942
8,2021-09-30,344721.731199,220854.555142,169697.529621,453102.624344,525261.092467,196644.018957,355049.794556,186063.959168,244482.26829,...,257600.169596,225882.82093,191266.11736,414358.076889,175381.033719,252009.638464,68358.361754,305999.254374,304024.160134,322763.975147
9,2021-10-31,345330.255051,220143.283224,169068.578367,454160.750975,525413.688706,194897.096179,354782.148619,185500.210265,244576.851746,...,255546.853234,223523.950199,187047.486234,415099.055127,173394.541841,255475.828109,68157.495206,306452.390545,302053.097269,320649.744185
10,2021-11-30,346229.69482,219765.574105,168425.692316,455393.918885,527436.201386,194339.76928,355036.846243,184897.948274,245400.600571,...,254608.533567,222322.719096,185198.38021,416454.29554,172198.612723,258055.687987,68563.305631,308317.608522,301321.477485,319959.214949
11,2021-12-31,347988.770133,220259.733175,168078.624387,458006.384634,531400.333134,194390.665871,356591.053312,185376.924144,246960.132049,...,255125.871652,222871.555055,185778.404983,417917.640882,172744.032707,260673.296281,69277.062568,311130.54043,302123.858911,320359.63009
12,2022-01-31,349287.137025,220915.765328,169403.504825,457955.854456,534880.083422,196033.111556,357225.985683,186330.534434,248355.689482,...,257273.572665,225699.186911,188378.229869,419810.997591,176111.793778,262373.652368,70298.412142,314868.635294,304876.813733,321650.390272
13,2022-02-28,350710.52525,222263.168019,172517.673788,457233.019564,538574.550633,199637.407243,358282.562536,187941.999752,249952.305314,...,261608.827422,230323.988164,192774.216684,422957.980996,181868.422345,264093.325853,71624.754666,319972.349526,308978.493607,324188.744545
14,2022-03-31,352712.491238,224436.352597,176952.060838,456647.373238,543973.56485,204924.381426,360754.199283,189910.212369,252167.534492,...,267261.207628,236529.50442,198383.385001,429412.438528,189051.298273,265594.66132,73961.961834,325935.025539,313915.128182,328748.110414
15,2022-04-30,355410.216038,227196.752656,180259.941307,458333.4123,550854.101224,208314.382386,364886.140086,192246.11708,254697.622,...,272199.556597,242295.830514,203667.936135,436798.840558,194467.018429,268659.919751,76051.942395,330643.40934,318457.662851,334245.375583
16,2022-05-31,356874.97759,228566.518917,181410.158237,459587.148614,555104.086391,208401.758095,367835.490483,193260.758853,255820.743232,...,274659.295524,245823.519923,206534.069955,442683.825946,196285.116098,270804.13899,77108.737324,332707.588932,321019.098164,338016.278948
17,2022-06-30,358031.702512,228372.366083,181416.505136,460253.998778,558090.217917,206771.518444,369518.546111,193003.667411,255567.701997,...,275693.165771,246669.298871,206908.583708,446017.868193,196361.479182,272665.903286,77403.355765,332660.456465,322330.413299,340263.391565
18,2022-07-31,357870.03078,226765.485594,179543.969446,459129.771529,557616.936161,203990.720774,368716.840455,191635.985564,254452.730925,...,275344.002711,244989.758137,203862.939725,444932.227417,194378.151175,272161.755126,77017.256458,330911.09336,321427.467595,339645.587222
19,2022-08-31,357158.88699,225060.04979,176697.991527,456181.403057,555540.341574,200665.902375,366558.712443,190538.427941,253209.682946,...,273971.508392,242214.112861,199948.972181,441027.487968,192107.815555,271040.187252,76186.436325,328353.221429,319314.892486,337930.153697
20,2022-09-30,354939.017591,223618.476785,173122.408966,451504.531341,550923.503563,196927.164742,362995.694452,189763.654627,252059.703907,...,270801.381273,238486.628115,195648.234542,434812.440598,189181.33781,269268.651876,75408.532337,325026.412239,315288.54458,334949.775993
21,2022-10-31,353137.129402,222828.43601,170684.715502,447496.141067,547545.998506,194551.779952,360459.155967,189415.69785,251076.778839,...,267887.516158,235163.429609,192847.384619,430472.44349,187076.554826,267833.85899,75222.865239,322492.956736,312543.863947,332820.962489
22,2022-11-30,352371.088605,222701.215767,169480.802613,445021.206433,546011.756114,193515.538052,359225.651753,189353.57637,250492.377751,...,266131.492696,232765.695792,190498.22295,428189.016014,185427.320175,267179.855463,75333.790265,320419.534258,311054.049941,331724.764684
23,2022-12-31,351981.988583,222145.87034,168545.220298,443207.667475,545617.925577,192236.89838,358523.589602,189411.795963,249526.202649,...,265774.423606,231513.407923,188280.502297,427179.86991,183828.792733,266581.149091,74903.568584,318821.034455,311097.386446,331232.416524
24,2023-01-31,350177.24185,220987.915949,167334.69682,440358.494073,544450.378711,189945.012012,356783.567982,189155.72076,247956.132508,...,264669.661627,230861.903698,186298.248974,425966.4332,182247.86222,266483.440933,73594.847389,317289.123597,309848.288453,330186.399562
25,2023-02-28,347147.564086,219554.00734,166543.4132,437330.296539,541232.65862,188172.611136,355333.508991,189152.349294,246415.722867,...,263741.146085,231525.611415,185138.919704,426097.485511,182056.10561,266609.221414,72320.445163,317081.407388,309282.419302,329869.860105
26,2023-03-31,345203.468555,218970.734512,166856.366134,436360.210756,538479.248662,188023.08989,355479.128764,189805.035883,245788.514492,...,262522.281765,233337.55259,185302.980147,426711.427636,182655.71867,268878.453032,71088.471083,317434.233777,308964.744137,330412.59693
27,2023-04-30,345791.989131,219505.468935,168529.731016,438170.581717,537512.792193,189108.422044,358222.0486,191179.180318,246581.799808,...,261982.856328,235372.201308,185283.892717,428402.034097,183979.705581,272724.187575,70320.634522,317947.364806,310257.67215,332068.430625
28,2023-05-31,348243.716515,220873.395671,170215.552104,441159.953902,539139.274169,189711.939457,361269.646995,192618.338225,248266.811382,...,261374.318214,236103.422082,184920.207047,429767.959897,184575.506736,277481.545154,69738.047004,318242.748,311483.749658,333953.617594
29,2023-06-30,351331.955928,222693.53315,171405.516615,444235.237026,541588.440708,189203.006086,364612.132649,193903.59422,250400.948519,...,261696.019447,236527.879441,183812.280972,432952.688669,185247.774635,281176.120792,68916.978047,319146.595262,313023.103028,337033.145114
30,2023-07-31,354372.109448,224815.395489,172511.518632,446830.281993,543950.923591,188467.815686,367761.280729,195224.570169,252601.722212,...,263419.386822,237722.623181,183485.193078,436836.265709,186418.23992,284109.937646,67902.767071,320886.278715,314335.600736,341258.354083
31,2023-08-31,358274.505322,227233.660863,174512.511548,449198.964839,546390.818324,187581.113609,371154.804365,197540.053376,255978.458514,...,265378.730835,240612.201045,183745.727154,440417.662354,187879.054274,287336.59062,66675.576774,322325.70342,315228.320421,345718.141282
32,2023-09-30,361767.239038,228789.686683,176942.10929,449859.66757,548270.857647,186463.561138,373269.574747,199982.44912,259731.428415,...,266263.308302,243670.776509,184363.61539,442668.58409,188627.390101,289204.659588,65910.205072,322872.760639,315700.383051,349568.777665
33,2023-10-31,364245.140803,229263.487182,178664.607033,449269.546622,549318.70565,185643.664184,374300.385436,202238.379305,262676.197152,...,266047.845385,245922.547676,185488.114922,444410.991986,188145.254235,289954.45862,65409.901479,322881.472206,316257.417595,352424.332892
34,2023-11-30,365404.235809,229190.543498,179329.071751,448226.586436,549895.692694,184930.202367,374722.638226,203437.915809,264078.739641,...,265434.43403,246968.844128,186211.461605,445701.269285,186652.713915,289743.066667,65276.61692,322911.150672,316753.787873,354896.000629
35,2023-12-31,365273.873903,229300.289538,179274.978734,447136.438126,549323.122838,184507.539225,374176.994267,204149.615699,264046.604024,...,265225.505751,247468.611541,187271.249378,446746.052524,185334.927286,290485.432481,64771.155875,323036.432989,317284.417069,356164.834436
36,2024-01-31,364719.918837,229288.170544,179381.863942,446721.925355,548638.640501,184515.936457,373477.021363,204126.837008,263371.438625,...,265754.797956,248063.84117,188107.749509,447353.065307,185017.98629,291655.160235,64550.671104,323600.64573,317851.664055,356733.602104

In [15]:
# neighborhood_data_2017_2019.reset_index(inplace=True)
# neighborhood_data_2021_present.reset_index(inplace=True)

In [16]:
# neighborhood_names_list = neighborhood_data_2017_2019["RegionName"].to_list()

In [40]:
# neighborhood_data_2017_2019.drop(columns='index', inplace=True)
# neighborhood_data_2021_present.drop(columns='index', inplace=True)
# neighborhood_data_2017_2019

In [18]:
# map = {}
# for num in range(0,181):
#     map[num] = neighborhood_names_list[num]

In [19]:

# #display(neighborhood_data_2017_2019[neighborhood_data_2017_2019['RegionName'] == 'Lake View'])
# neighborhood_data_2017_2019 = neighborhood_data_2017_2019.transpose()
# neighborhood_data_2017_2019.rename(columns=map, inplace= True)
# neighborhood_data_2021_present = neighborhood_data_2021_present.transpose()
# neighborhood_data_2021_present.rename(columns=map, inplace= True)
# #display(neighborhood_data_2021_present)

In [27]:
display(neighborhood_data_2017_2019.head())
display(neighborhood_data_2021_present.head())

,date,Lake View,West Ridge,Little Village,Logan Square,Lincoln Park,South Austin,Irving Park,Rogers Park,Uptown,...,Beverly Woods,Sleepy Hollow,Lithuanian Plaza,Forest Glen,Beverly View,Heart of Italy,Golden Gate,Marycrest,Mount Greenwood Heights,Schorsch Forest View
0,2017-01-31,320800.529961,187637.444136,90925.075575,385189.738477,527941.394692,104123.26978,308905.874982,156084.352003,222163.898965,...,196512.180094,150302.703199,109474.192087,353627.489385,115870.209964,174695.616386,25263.130346,222620.465114,247078.011675,267835.822774
1,2017-02-28,323403.875393,189553.396344,92159.981171,387715.936437,530161.421716,104668.311807,311086.230949,157619.441673,223640.4001,...,198572.76316,152146.670755,114100.977206,357398.536611,117361.011908,177001.33723,25686.900261,224828.56025,248058.672791,269378.309108
2,2017-03-31,325554.648715,191027.034117,93255.225637,388969.12531,532967.822467,105138.791112,313207.539541,158774.659454,224694.870133,...,200222.70901,153710.0023,117062.46098,360254.804451,118906.735885,178717.892446,26756.021861,227139.685233,248698.293271,270910.811867
3,2017-04-30,326994.066372,191889.952161,93859.979012,389250.314752,535106.275721,104823.285143,314064.334049,159399.121149,225477.482034,...,201977.05726,154409.584642,116186.066534,363148.259581,120138.556807,180467.268885,27796.85854,228359.512801,248938.921598,272070.802637
4,2017-05-31,327962.336934,192260.367968,94812.109531,388709.642645,538274.75336,104754.825993,314049.222156,159471.944641,225828.90678,...,203294.717522,155492.111419,115115.94718,365085.521269,120869.519651,181256.703189,28691.811622,228371.013902,249231.377345,272600.604751

,date,Lake View,West Ridge,Little Village,Logan Square,Lincoln Park,South Austin,Irving Park,Rogers Park,Uptown,...,Beverly Woods,Sleepy Hollow,Lithuanian Plaza,Forest Glen,Beverly View,Heart of Italy,Golden Gate,Marycrest,Mount Greenwood Heights,Schorsch Forest View
0,2021-01-31,335152.964276,213600.22992,150609.690221,438745.604328,521486.137219,180917.374761,338774.427175,179522.204697,238384.286918,...,240022.623576,205658.709,190487.831338,395487.224536,151295.222629,230912.584221,55617.851577,275760.178768,280946.442648,307632.094045
1,2021-02-28,337100.070376,215838.540172,154491.459007,442793.484892,522856.818945,185608.390589,342486.690267,181330.847136,239973.929497,...,244533.099594,210608.339795,194609.021205,399358.903549,155797.669721,233706.648789,57571.195221,280995.201316,285493.773982,311662.776952
2,2021-03-31,338529.196964,217654.90533,159032.561218,446040.066569,523647.18224,191007.910295,346194.549901,182732.26069,241113.29843,...,248901.593636,216042.021595,198440.913582,403079.567198,161320.133838,235914.918863,60538.071205,286359.511962,289930.026637,316208.501575
3,2021-04-30,339798.571621,219105.803791,163509.685324,448541.706261,523534.460888,196147.321168,349930.120903,183811.499572,241846.051785,...,253083.58446,220828.192199,201429.100659,407398.148654,166625.774651,236975.399,63795.056935,290788.403519,293810.501845,320674.893231
4,2021-05-31,340754.044648,219738.822606,166556.653383,449749.184842,522886.530447,199573.256492,352042.448059,184104.008816,242134.791372,...,256385.197651,224200.835112,202531.69313,410880.334613,171526.912511,237436.86208,66521.929432,294977.065756,297387.517453,323826.163279

In [21]:
# neighborhood_data_2017_2019 = neighborhood_data_2017_2019.iloc[1:]
# neighborhood_data_2021_present = neighborhood_data_2021_present.iloc[1:]

In [22]:
# neighborhood_data_2017_2019.reset_index(inplace=True)
# neighborhood_data_2021_present.reset_index(inplace=True)

In [23]:
# neighborhood_data_2017_2019.rename(columns={'index':'date'}, inplace=True)
# neighborhood_data_2021_present.rename(columns={'index':'date'}, inplace=True)

In [24]:
neighborhood_data_2017_2019.to_csv('csv_files/neighborhood_data_2017_2019.csv', index = False)
neighborhood_data_2021_present.to_csv('csv_files/neighborhood_data_2021_present.csv', index = False)

<H1><I>END OF CLEANING PROCESS<I><H1>